<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home">家族 Kazoku</span>&nbsp;&nbsp;&nbsp;
    <span *ngIf="auth.isLoggedIn()">
      <button mat-button routerLink="/herolist"><fa name="shield" ></fa>Heroes</button>
      <button mat-button routerLink="/herodash"><fa name="th" ></fa>Hero Dash</button>
      <button mat-button routerLink="/members"><fa name="users" ></fa>Members</button>
    </span>
    <span class="example-fill-remaining-space"></span>
    <a mat-button *ngIf="!auth.isLoggedIn()" routerLink="/login">
      <fa name="sign-in" ></fa>Login</a>
    <button mat-button
      id="kzLogoutBtn"
      *ngIf="auth.isLoggedIn()"
      (click)="auth.logout()">
      <fa name="sign-out" ></fa>Log Out</button>
  </mat-toolbar-row>

<!--   <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row>
 -->  
</mat-toolbar>

<mat-drawer-container class="side-drawer">
  <mat-drawer mode="side" opened="true">Drawer content</mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  </mat-drawer-content>
</mat-drawer-container>


