<h1>{{title}}</h1>

<nav>
  <a routerLink="/home">Home</a>
  <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</a>
  <a *ngIf="auth.isLoggedIn()" routerLink="/herolist">Heroes</a>
  <a *ngIf="auth.isLoggedIn()" routerLink="/herodash">Hero Dash</a>
  <a *ngIf="auth.isLoggedIn()" routerLink="/members">Members</a>
  <button
        id="qsLogoutBtn"
        class="btn btn-primary btn-margin"
        *ngIf="auth.isLoggedIn()"
        (click)="auth.logout()">
  Log Out</button>
</nav>

<router-outlet></router-outlet>

<app-messages></app-messages>